.movies-header {
  height: 400px;
  background: url('/static/background-header.jpg') no-repeat center;
  background-size: cover;

  .search-input {
    input[type='text'] {
      height: 35px;
    }
  }

  .search-button {
    width: 170px;
    color: white;
    border-color: white;
    background-color: rgba(255, 255, 255, 0.171);
    box-shadow: none;
  }

  .search-button:hover {
    background-color: transparent;
    border-color: #5b5b5b;
  }
}
